* { box-sizing: border-box; }

.item {
  position: relative;
  float: left;
  border: thin solid blue;
}

#menu {
  border: thin solid black;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
}

.subitem { border: thin solid red; }

.submenu { display: none;}

.item:hover > .submenu {
  position: absolute;
  display: block;
  width: auto;

}

.muchacho {
    width: 100%;
}

.box{
    border: thin solid blue;
    float: left;
    width: 350px;
    margin: 0 15px 15px 0;
    height: 150px;
}

.lateral{
    border: thin solid blue;
    float: right;
    width: 150px;
    margin: 0 100px 100px 0;
    height: 400px;
}